.padre{
    margin-top: 2%; 
    margin-bottom: 5px;
    
}

.letras{
    display: flex;
    justify-content: center;
   
}
.boton{
    margin-left: 2.5%;
    margin-top: 1.7%;
    background-color: lightgray;
    border-color: gray;
    border-width: medium;
}

.boton:hover{
    background-color: #93C84A !important;
}

.limpiar{
    margin-left: 15%;
    margin-top: 8%;
    font-size: 185%;
    background-color: #529BD1 !important;
    border-color: #3381C3 !important;
    border-width: medium;
}

.limpiar:hover{
    color:blue;
}

.botonBuscar{
        background-color: #93C84A !important;
        border-color: #76B72A !important;
        border-width: medium;
        color: white;
    }

.recuadroBusqueda{
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    margin-top: 2%;
}

.keywordsBox{
    border-style: hidden;
    -webkit-appearance: none;
    border: none;
    outline:0;
    margin-top: 1%;  
    width: 83%;
}


.icono{
    margin-left: 15%;
    margin-top: 1%;  
}

.elementosAgrupados{
    display: inline;
}

.cabecera{
    border-radius: 25px;
    background-color: #93C84A !important;
    color: white;
}

.botonNuevaPalabra{
    margin-left: 2.5%;
    margin-top: 1.7%;
    border-radius: 25px;
    background-color: #93C84A !important;
    border-color: #76B72A !important; 
    border-width: medium;  
}

.botonNuevaPalabra:hover{
    color: green;
}

.nuevaPalabra{
    text-align: right;
}
.tituloGlosario{
    font-size: 255%;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.tituloComentarios{
    font-size: medium;
    text-align: left;
    font-family: "Lucida Console", Courier, monospace;
}

.estiloCards{
    border-color: #76B72A !important;
    color: #3381C3 !important;
}

.cuerpoCards{
    margin-top: 2%;
}


.contenidoModal{
    border-radius: 25px;
    border-color: #3381C3 !important; 
    border-width: thick;
}

.headerModal{
   background-color: #3381C3 !important;
   color: white;
}

.botonCerrar{
    color: white;
}

.botonCerrar:hover{
    color: gray;
}

.cuerpoModal{
    color: blue;
}

.contenedorLogin{
    margin-top: 10%;
   
}

.keywordsBoxCrud{
    border-style: hidden;
    -webkit-appearance: none;
    border: none;
    outline:0;
    margin-top: 1%;  
    width: 83%;

}

.tituloCrud{
    font-size: large;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.userActive{
    text-align: center;
    background-color: #93C84A !important;
    color: white;

}

.containerResultadoCrud{
 margin-left:2%;
 margin-right:2%;
}

.nuevo{
    margin-left: 1%;
    margin-top: 2%;
    border-width: medium;
}

